* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.alap {
  background: hsla(230, 50%, 50%, .5);
  max-width: calc(95% - 70px);
  height: 75%;
}

.quote {
  background: hsla(150, 50%, 50%, .5);
  height: auto;
  font-variant-caps: small-caps;
  font-size: 2.4em;
  line-height: 1.6;
  letter-spacing: 4px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.author {
  background: hsla(80, 50%, 50%, .5);
  font-style: italic;
  height: auto;
  padding-top: 50px
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  }

.quote, .author {
  text-align: center;
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: hsla(100, 10%, 10%, .8);
}